PORT=9070
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/collabsphere_notifications
JWT_SECRET=
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081
ADMIN_EMAIL=admin@example.com
